<header>
        <nav class="navigation-bar">
            <h1>Blog-App</h1>
            <div>
                <a href="/" class="nav-link">Home</a>
                <a href="/view" class="nav-link">View Blogs</a>
            </div>
        </nav>
</header>  