<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Blog-application</title>
</head>
<body>
    
    <%- include('partials/header.ejs') %>     
     <main>
            <h1>Welcome to blog application</h1>
            <section>
                <h2>Create a blog</h2>
                <form action="/create" method="post" class="form-container" >
                    <div class="form-sub-container">
                        <label for="title"><h3>Title</h3></label>
                        <input type="text" name="title" class="input-title" required>
                    </div>

                    <div class="form-sub-container">
                        <label for="description"><h3>Description</h3></label>
                        <textarea name="description" class="input-description" rows="10" required></textarea>
                    </div>

                    <input type="submit" value="Create"  name="create" class="create-post-btn">
                </form>
            </section>
    </main>
  <%- include('partials/footer.ejs') %>
<script src="script/main.js"></script>
</body>
</html>